# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment variables
.env

# SQLite database
app.db

# Uploaded files
uploads/

# Python virtual environments
env/
venv/
.venv/
pdfprocessingproject/

# Other common Python ignores
*.egg-info/
dist/
build/
logs/
*.log